.form-container, .js-response-container {
  display: flex;
  width: 100%;
  max-width: 400px;
  
  flex-direction: column;
  box-sizing: border-box;
  
  padding: 16px;
}

.form-container > * {
  width: 100%;
}

.mdl-tooltip {
    z-index: 1;
}